- name: Set vm local variables
  set_fact:
    virbr: "8{{- student -}}"
    netsuffix: "1{{- node_index -}}" 
    hostname: "master{{- student -}}{{ node_index }}"
    rootvg_size: 30
    vcpus: 4
    podnetwork: "10.38.0.0/16"
    svcnetwork: "10.49.0.0/16"
    clusterdom: "cluster.local"
    master: "master{{- student -}}{{ node_index }}.vxland.syscallx86.com"
    bridge_name: "br-ex"
    iface: "enp1s0"
    ip_address: "10.8.{{- student  -}}.1{{- node_index -}}"
    k8s_role: "master"

